<div class="container">
  
    <label for="persona">Tipo de Trabajo </label>
    <input type="text" id="experiencia" name="experiencia" [(ngModel)]="experienciaActual.tipo_de_trabajo">
    <hr>
    <label for="persona">Descripcion </label>
    <input type="text" id="experiencia" name="experiencia" [(ngModel)]="experienciaActual.descripcion">
    <hr>
    <label for="persona">Foto </label>
    <input type="text" id="experiencia" name="experiencia" [(ngModel)]="experienciaActual.foto_url">
    <hr>
    

    <hr>
    <button class="btn btn-primary" (click)="guardar()">Guardar</button>


</div>

