<div class="container">
    <form action="">
      <label for="educacion">Nombre de proyecto</label>
      <input type="text" id="proyecto" name="proyecto" [(ngModel)]= "proyectoNueva.nombre_proyecto">
    
      <hr>
      <label for="educacion">Descripcion</label>
      <input type="text" id="proyecto" name="proyecto" [(ngModel)]= "proyectoNueva.descripcion">
    
      <hr>
      <label for="educacion">Foto</label>
      <input type="text" id="proyecto" name="proyecto" [(ngModel)]= "proyectoNueva.foto_url">
    
      
    
      <hr>
      <button class="btn btn-primary" (click)="agregarProyecto()">Guardar</button>
    
      
    
    
    
    </form>
    
    
    </div>
