<div class="container">
  
    <label for="persona">Nombre de proyecto </label>
    <input type="text" id="proyecto" name="proyecto" [(ngModel)]="proyectoActual.nombre_proyecto">
    <hr>
    <label for="persona">Descripcion </label>
    <input type="text" id="proyecto" name="proyecto" [(ngModel)]="proyectoActual.descripcion">
    <hr>
    <label for="persona">Foto </label>
    <input type="text" id="proyecto" name="proyecto" [(ngModel)]="proyectoActual.foto_url">
    <hr>
    

    <hr>
    <button class="btn btn-primary" (click)="guardar()">Guardar</button>


</div>
