<div class="container">
    <form action="">
      <label for="educacion">Tipo de Herramienta </label>
      <input type="text" id="herramienta" name="herramienta" [(ngModel)]= "herramientaNueva.tipo_de_herramienta">
    
      <hr>
      <label for="educacion">Descripcion</label>
      <input type="text" id="herramienta" name="herramienta" [(ngModel)]= "herramientaNueva.descripcion">
    
      <hr>
      <label for="educacion">Foto</label>
      <input type="text" id="herramienta" name="herramienta" [(ngModel)]= "herramientaNueva.foto_url">
    
      
    
      <hr>
      <button class="btn btn-primary" (click)="agregarHerramienta()">Guardar</button>
    
      
    
    
    
    </form>
    
    
    </div>
    
