.educacion {
  
    grid-template-columns: auto;
    gap: 20px;
    margin: 10px 0;
    padding: auto;

}

.educacion img {
      width: auto;
      height: 50px;
      
}

.educacion h3 {
         font-size: 20px;
         margin: 20px 10px;
         

}
.educacionEdu h3 {
         font-size: 20px;
         margin: 20px 10px;
         

}

.educacionEdu a {
    padding: 5px 0;
    color: white;
    text-transform: inline-block;
    display: inline-block;
    font-weight: bold;
    
 
}

.educacionEdu a button :hover{
          text-decoration: underline;
}