
<body>
  <div class="container">
    <br>
    <hr>

     <app-navbar></app-navbar>
    
     <router-outlet></router-outlet>
    
     <!-- Portada -->

     <hr>
     <app-portada></app-portada>
     <hr>
     <app-portada-edu></app-portada-edu>
     <hr>
     <app-portada-exp></app-portada-exp>
     <hr>
     <app-portada-her></app-portada-her>
     <hr>
     <app-portada-pro></app-portada-pro>

     
    
      <!--Redes sociales -->
      <hr>
    <app-components-contacto></app-components-contacto>
    
    
    <br>
    <hr>
    
    
</div>
    </body>




