<div class="container">
    <form action="">
      <label for="experiencia">Tipo de Trabajo</label>
      <input type="text" id="experiencia" name="experiencia" [(ngModel)]= "experienciaNueva.tipo_de_trabajo">
    
      <hr>
      <label for="experiencia">Descripcion</label>
      <input type="text" id="experiencia" name="experiencia" [(ngModel)]= "experienciaNueva.descripcion">
    
      <hr>
      <label for="experiencia">Foto</label>
      <input type="text" id="experiencia" name="experiencia" [(ngModel)]= "experienciaNueva.foto_url">
    
      
    
      <hr>
      <button class="btn btn-primary" (click)="agregarExperiencia()">Guardar</button>
    
      
    
    
    
    </form>
    
    
    </div>
    
