<div class="container">
    <nav class="nav-main">
      <a href="https://argentinaprograma.inti.gob.ar/"><img src="./assets/ap.png" alt="logo" class="nav-brand" > </a>
      <ul class="nav-menu">
   <li>
    <a href="index.html">Inicio</a>
   </li>
   <li>
    <a href="/inicioEdu/">Educacion</a>
   </li>
   <li>
    <a  href="/inicioExp/" >Experiencia Laboral</a>
   </li><li>
    <a href="/inicioHer/">Herramientas Tecnologicas</a>
   </li><li>
    <a href="/contacto/">Contacto</a>
   </li>
</ul>
<ul class="nav-menu-right">
    <li>
        <a [routerLink]="'/login'">
          <i class="">Login</i> 

    </a>
    </li>

    <li>
        <a [routerLink]="'/login'">
          <i class="">Login</i> 

    </a>
    </li>

    <li>
        <a [routerLink]="'/signup'">
          <i class="">Registrate aquí</i> 

    </a>
    </li>
</ul>



    </nav>
</div>
