<div class="container">
    <form action="">
      <label for="educacion">Tipo de Educacion </label>
      <input type="text" id="educacion" name="educacion" [(ngModel)]= "educacionNueva.tipo_de_educacion">
    
      <hr>
      <label for="educacion">Descripcion</label>
      <input type="text" id="educacion" name="educacion" [(ngModel)]= "educacionNueva.descripcion">
    
      <hr>
      <label for="educacion">Foto</label>
      <input type="text" id="educacion" name="educacion" [(ngModel)]= "educacionNueva.foto_url">
    
      
    
      <hr>
      <button class="btn btn-primary" (click)="agregarEducacion()">Guardar</button>
    
      
    
    
    
    </form>
    
    
    </div>
    