
<div class = "bootstrap-wrapper">
  <div class="container">
      <div class="row" style="margin-top: 20px;">

        <div class="col-md-6 offset-md-3">
            <div class="container text-center">
              <img src="../../../assets/Login.png" width="50" height="50"></div>

               <h3 class="text-center">Inicio de sesíon</h3>
               <div class="container">
                <div class="row">
                   <div class="col-md-6 col-md-offset-3">
                       <div th:if=${param.exito} >
                           
                           
                           

                            <div class="form-group" >
                              <label class="form-label" for="nombreUsuario">Nombre Usuario :</label>
                              <input id="nombreUsuario" [(ngModel)] = "loginData.username" type= "text" class="form-control" name="username"  required autofocus="autofocus">
                            </div>
                             
                             <div class="form-group">
                               <label class="form-label" for="password">Password :</label>
                               <input type = "password" [(ngModel)] = "loginData.password" id="password"  name = "password" class="form-control"  required autofocus="autofocus">
                             </div>
               
                             <div class="form-group" style="text-align: center;">
                               <button type= "submint" (click)="formsSubmit()" class="btn btn-success">Iniciar sesíon</button>
                               
                               
                             </div>
               
                           
                          
                   </div>
                </div>
               
               </div>
               
                
                 
                    
                
               
            </div>

        </div>
    </div>
  </div>



