<section class="banner-ext">
    
    <div class="content">
     <h2>Experiencia Laboral</h2>
     <p></p>
     <a class="btn btn-secondary btn-sm" [routerLink]="['/agregarExp/']" routerLinkActive="router-link">agregar</a>

    </div>
        
</section>

<div class="educacionEdu" *ngFor="let experiencia of lista">
    <div>
      <img src="{{experiencia.foto_url}}" alt="foto" >
      <h3>{{experiencia.tipo_de_trabajo}}</h3>
      <p>{{experiencia.descripcion}}</p>
      
      
      <button class="btn btn-warning btn-sm" [routerLink]="['/editarExp/', experiencia.id]" routerLinkActive="router-link">editar</button>
      <button class="btn btn-danger btn-sm" (click)="eliminarExp(experiencia.id)">eliminar</button>
    </div>

    
  </div>
