<div class="container">
  
    <label for="persona">Tipo de Educacion </label>
    <input type="text" id="educacion" name="educacion" [(ngModel)]="educacionActual.tipo_de_educacion">
    <hr>
    <label for="persona">Descripcion </label>
    <input type="text" id="educacion" name="educacion" [(ngModel)]="educacionActual.descripcion">
    <hr>
    <label for="persona">Foto </label>
    <input type="text" id="educacion" name="educacion" [(ngModel)]="educacionActual.foto_url">
    <hr>
    

    <hr>
    <button class="btn btn-primary" (click)="guardar()">Guardar</button>


</div>

